/* General Formatting for all pages */
html, body {
    height: 100%;
    margin: 0;
  }
h1{
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}
h2{
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}
p, label, footer{
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
p{
    margin: 16px;
}
#top_bar {
    background:#ffffff;
    height:70px;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
#name_box {
    color: white;
    background: #4aaaa5;
    font-size:26px;
    padding: 20px;
    height:30px;
    float:left;
    position: fixed;
    left: 10px;
}
#links_area {
    color: gray;
    font-size:20px;
    text-decoration:none;
    padding: 25px;
    float: left;
    position: fixed;
    left: 470px;
}
.link{
    color: gray;
    text-decoration:none;
    padding: 24px;
}
.link:hover{
    color: white;
    background-color: #4aaaa5;
}
footer {
    color: lightgray;
    background: #666666;
    height:20px;
    border-top: 5px solid #4aaaa5;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size:16px;
    text-align: center;
    position: fixed;
    z-index: 10; 
    bottom: 0; 
    left: 0;
    width: 100%;
} 
.central_section {
    background-image: url("../images/wet_snow.png");
    background-repeat: repeat;
    background-position: center;
    top: 70px;
    width: 100%;
    padding-bottom: 130px;
    position: absolute;
}
.content_section{
    background: #ffffff;
    padding: 10px;
    float: left;
    position: relative;
    top: 30px;
    margin-left:10px;
    width: 850px;
    border: 2px solid #dddddd;
}
/* .content_section_about {
    height: 800px;
} */
.content_section_portfolio {
    height: 850px;
}
/* .content_section_contact {
    height: 1000px;
} */
.content_title_bar {
    border-bottom: 2px solid #dddddd;
    font-size: 26px;
    padding: 20px;
    height:20px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
}
.text_area{
    line-height: 200%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Styling for the About Me Page */
#profile_picture {
    float:left;
    padding: 10px;
}

/* Styling for the Portfolio Page */
.portfolio_image{
    float:left;
    position:absolute;
    z-index: 4;
    height: 225px;
    width: 300px;
}
#portfolio_image_1{
    left: 40px;
    top: 100px;
}
#portfolio_image_2{
    right: 40px;
    top: 100px;
}
#portfolio_image_3{
    left: 40px;
    top: 350px;
}
#portfolio_image_4{
    right: 40px;
    top: 350px;
}
#portfolio_image_5{
    left: 40px;
    top: 600px;
}
#portfolio_image_6{
    right: 40px;
    top: 600px;
}
.portfolio_title{
    color: white;
    background: #4aaaa5;
    width: 300px;
    line-height: 50px;
    font-size: 30px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    position: absolute;
    float: left;
    z-index: 6;
}
#portfolio_title_1{
    left: 40px;
    top: 240px;
}
#portfolio_title_2{
    right: 40px;
    top: 240px;
}
#portfolio_title_3{
    left: 40px;
    top: 490px;
}
#portfolio_title_4{
    right: 40px;
    top: 490px;
}
#portfolio_title_5{
    left: 40px;
    top: 740px;
}
#portfolio_title_6{
    right: 40px;
    top: 740px;
}


/* Styling for the Contact Page */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #52bdb7;
}
@media screen and (max-width: 980px) {
    #links_area {
        float: right;
        left: auto;
        right: 20px;
    }
    .content_section {
        width: 640px;
    }
    .content_section_portfolio {
        height: 820px;
    }
    .portfolio_image{
        height: 188px;
        width: 250px;
    }
    .portfolio_title{
        width: 250px;
        line-height: 30px;
        font-size: 20px;
    }
    #portfolio_title_1{
        left: 40px;
        top: 220px;
    }
    #portfolio_title_2{
        right: 40px;
        top: 220px;
    }
    #portfolio_title_3{
        left: 40px;
        top: 470px;
    }
    #portfolio_title_4{
        right: 40px;
        top: 470px;
    }
    #portfolio_title_5{
        left: 40px;
        top: 720px;
    }
    #portfolio_title_6{
        right: 40px;
        top: 720px;
    }
}
@media screen and (max-width: 768px) {
    #links_area { 
        font-size: 16px;
    }
    .link{
        padding-bottom: 29px;
    }
    .content_section {
        width: 530px;
    }
    .content_section_portfolio {
        height: 600px;
    }
    .portfolio_image{
        height: 150px;
        width: 200px;
    }
    #portfolio_image_1{
        left: 40px;
        top: 80px;
    }
    #portfolio_image_2{
        right: 40px;
        top: 80px;
    }
    #portfolio_image_3{
        left: 40px;
        top: 260px;
    }
    #portfolio_image_4{
        right: 40px;
        top: 260px;
    }
    #portfolio_image_5{
        left: 40px;
        top: 430px;
    }
    #portfolio_image_6{
        right: 40px;
        top: 430px;
    }
    .portfolio_title{
        width: 200px;
        line-height: 24px;
        font-size: 16px;
    }
    #portfolio_title_1{
        left: 40px;
        top: 180px;
    }
    #portfolio_title_2{
        right: 40px;
        top: 180px;
    }
    #portfolio_title_3{
        left: 40px;
        top: 360px;
    }
    #portfolio_title_4{
        right: 40px;
        top: 360px;
    }
    #portfolio_title_5{
        left: 40px;
        top: 530px;
    }
    #portfolio_title_6{
        right: 40px;
        top: 530px;
    }
}
@media screen and (max-width: 640px) {
    #top_bar {
        height:140px;
    }
    #name_box {
        width: 100%;
        left: 0px;
        text-align: center;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    #links_area {
        width: 100%;
        top: 70px;
        left: 0px;
        text-align: center;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        }
    .link{
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .content_section{
        top: 80px;
        width: 100%;
        margin: 0 auto;
    }
    .content_section_about {
        height: 1000px;
    }
    .content_section_portfolio {
        height: 2150px;
    }
    .portfolio_image{
        height: auto;
        width: 100%;
        top: auto;
        position: static;
        margin-bottom: 20px;
    }
      .portfolio_title{
        width: 100%;
        line-height: 30px;
        font-size: 20px;
        left: 0px;
        right: 0px;
    }
    #portfolio_title_1{
        top: 320px;
    }
    #portfolio_title_2{
        top: 660px;
    }
    #portfolio_title_3{
        top: 1000px;
    }
    #portfolio_title_4{
        top: 1340px;
    }
    #portfolio_title_5{
        top: 1680px;
    }
    #portfolio_title_6{
        top: 2020px;
    }
    .content_section_contact {
    height: 500px;
}
input[type=text], select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 95%;
    height: 150px;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

}
